<nz-layout class="app-layout">
  
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
            <ul nz-list [nzDataSource]="data" nzBordered nzSize="large">
                
                <li nz-list-item *ngFor="let item of arrProducts" nzNoFlex>
                  {{ item.name }} - {{ item.price }}
                </li>
              
              </ul>
        </div>
      </nz-content>
      <nz-footer style="margin-bottom:150px">
        <nz-mention [nzSuggestions]="suggestions" [nzLoading]="loading" (nzOnSearchChange)="onSearchChange($event)" [nzPrefix]="['#', '@']>
            <input nzMentionTrigger nz-input [(ngModel)]="inputValue" />
        </nz-mention>
      </nz-footer>
    </nz-layout>
  </nz-layout>